{% extends "base.html" %}

{% block content %}
<!-- This is the title and description of the page -->
<!-- access data of database of the index of job, visualize results for job -->

<head>
  
    <title>Job view page -{} integration of Protein Viewer (PV)</title>


  </head>

   
<section class="section">
    <div class="container">
        <h1 class="title">
            Your job: numOfJob
        </h1>
        <p class="subtitle is-5">
            Here we can explain a little bit more about the job and what information we have.
        </p>

    </div>
</section>
<section class="section">
       <!-- Here the viewer is loaded -->
   <div class="container" id="img_container">
    <body>
        <div id=viewer style="height:350px; width:400px;"></div>
    </body>
</div>
</section>


<!-- add the graphs for the energies: Scatterplots -->

<!-- add the return button -->


<script type='text/javascript' src='/static/bio-pv.min.js'></script>

<script type='text/javascript'>



    function loadMethylTransferase() {
    // asynchronously load the PDB file for the dengue methyl transferase 
    // from the server and display it in the viewer.   
    pv.io.fetchPdb( '{{pdbURL}}' , function(structure) {   
    // display the protein as cartoon, coloring the secondary structure    
    // elements in a rainbow gradient.   
    viewer.cartoon('protein', structure, { color : color.byChain() });    
    viewer.autoZoom();    
    // there are two ligands in the structure, the co-factor S-adenosyl    
    // homocysteine and the inhibitor ribavirin-5' triphosphate. They have   
    // the three-letter codes SAH and RVP, respectively. Let's display them    
    // with balls and sticks.   
    var ligands = structure.select({ rnames : ['SAH', 'RVP'] });    
    viewer.ballsAndSticks('ligands', ligands);    
    viewer.centerOn(structure);   
    });    
    }
    
    // load the methyl transferase once the DOM has finished loading. That's    
    // the earliest point the WebGL context is available.    
    document.addEventListener('DOMContentLoaded', loadMethylTransferase);    
    </script>

<script type='text/javascript'>
// override the default options with something less restrictive.
var options = {
  width: 400,
  height: 400,
  antialias: true,
  quality : 'medium'
};
// insert the viewer under the Dom element with id 'gl'.
var viewer = pv.Viewer(document.getElementById('viewer'), options);
</script>

{% endblock %}