{% extends "base.html" %}

{% block content %}
<!-- This is the title and description of the page -->
<!-- access data of database of the index of job, visualize results for job -->

<head>
  
    <title>Job view page -{} integration of Protein Viewer (PV)</title>


  </head>

   
<section class="section">
    <div class="container">
        <h1 class="title">
            Your job: '{{jobid}}'
        </h1>
        <p class="subtitle is-5">
            Here we can explain a little bit more about the job and what information we have.
        </p>

    </div>
</section>

<section class="section">
    <div class="columns is-vcentered">
        <div class="column is-half">
             <!-- Here the viewer is loaded -->
             <div class="container" id="img_container">
                <div id=viewer></div>
                <p><a href='{{pdbURL}}'>Download pdb-file</a></p>
            </div>
        <div class="column">
          <p class="bd-notification is-primary">Second column with more content. Here i would add the energy graphics.</p>
        </div>
    </div>
</section>



<!-- add a download pdb-file button -->


<!-- add the graphs for the energies: Scatterplots -->

<!-- add the return button -->


<script type='text/javascript' src='/static/bio-pv.min.js'></script>

<script type='text/javascript'>



    function loadPDBfile() {
    // asynchronously load the PDB file from the given link and display it in the viewer.   
    pv.io.fetchPdb( '{{pdbURL}}' , function(structure) {   
    // display the protein as cartoon, coloring the secondary structure    
    // elements in a rainbow gradient.  
    viewer.cartoon('protein', structure, { color : color.byChain() });    
    viewer.autoZoom();     
    viewer.centerOn(structure);   
    });    
    }
    
    // load the pdb-file once the DOM has finished loading. That's    
    // the earliest point the WebGL context is available.    
    document.addEventListener('DOMContentLoaded', loadPDBfile);    
    </script>

<script type='text/javascript'>
// override the default options with something less restrictive.
var options = {
  width: 400,
  height: 400,
  antialias: true,
  quality : 'medium'
};
// insert the viewer under the Dom element with id 'gl'.
var viewer = pv.Viewer(document.getElementById('viewer'), options);
</script>

{% endblock %}