{% extends "base.html" %}

{% block content %} <!--flask to state this is unique block for this page--->

  <body>

    <div class="container welcomemessage">
      <h1>Hello Eva, this is your Home Page!</h1>
    </div>


    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div class="container submitmessage">
      <p>Your request has been submitted and it is being processed</p>
    </div>

    <div class="container errormessage">
      <p>Please try again, there was an error in the input's format</p>
    </div>

    <div class="container">
      <form action="" method="post" novalidate> <!--action empty because it renders the same page, method post to send to backend and novalidate because flask does it-->

        <p class ="title"> Protein Sequence </p>
        <fieldset>
          <p class="subtitle"> Query </p>
          <textarea name="sequence" class="textarea" rows="5" cols="20" maxlength="26" placeholder = "Enter protein sequence"></textarea>
          <br>
          <br>
          <div class="buttons">
            <button class="button" type="submit">Submit</button>
            <button class="button" type="reset">Reset</button>
          </div>
          <br>
          <div class="buttons">
            <input type="file" id="myfile" name="filename">
            <input type="submit">
          </div>
        </fieldset>
      </form>
    </div>


      <section class="jobslist">
        <h2><label for="jobs">JOBS LIST</label></h2>
        <div class="note">
          <p><i>NOTE: jobs will be stored for two weeks</i></p>
        </div>
        {% if not jobs %}
        <div class="nojobs">
          <p>There are no current jobs</p>
        </div>
        {% endif %}

        <div class="table" style="overflow-x:auto;">
          <table>
            <tr>
              <th>Job ID</th><th>Run Date</th><th>Result</th>
            </tr>
            {% for job in jobs %}
            <tr>
              <td> {{job.idJob}} </td><td> {{job.date}} </td><td> <a href={{url_for('home')}}>Results</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </section>


  {% endblock %}
