{% extends "base.html" %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
       <div>
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">PAPA server - Sign Up</h3>
                <hr class="login-hr">

                <p class="subtitle has-text-black">Please Register to proceed.</p>

    <form action="" method="post">
    <div class="box">
        {{ form.hidden_tag() }}
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                    <input name= "username" class="input" type="text" placeholder="jabril">
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div class="field">
               <label class="label">Email</label>
               <div class="control">
                       <input name= "email" class="input" type="text" placeholder="example@example.com">
               {% for error in form.email.errors %}
               <span style="color: red;">[{{ error }}]</span>
               {% endfor %}
          </div>

          <div class="field">
              <label class="label">Adress</label>
              <div class="control">
                      <input name= "adress" class="input" type="text" placeholder="123 Fake St.">
              {% for error in form.adress.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
         </div>

         <div class="field">
            <label class="label">Institution</label>
            <div class="control">
                    <input name= "institution" class="input" type="text" placeholder="UB/Universitat de Barcelona">
            {% for error in form.institution.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         </div>

         <div class="field">
            <label class="label">Password</label>
            <div class="control">
                    <input name= "password" class="input" type="password" placeholder="********">
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         </div>

         <div class="field">
            <label class="label">Repeat Password</label>
            <div class="control">
                    <input name= "password2" class="input" type="password" placeholder="********">
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         </div>
         <br>
         <button type='submit' class="button is-warning">Register</button>

    </form>
    <p>Have an account? <a href="{{ url_for('login') }}">Login!</a></p>
    </div>
</div>
</div>
</section>
{% endblock %}
